.pricing__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing__left {
  text-align: center;
}

.pricing__image {
  margin: 2rem auto 0;
  max-width: 600px;
  width: 100%;
  height: auto;
}

.pricing__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title {
  margin-bottom: 2rem;
}

.pricing__subtitle {
  color: #696bfc;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.pricing__tabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  align-items: center;
}

.pricing__tab {
  background-color: transparent;
  border: 1px solid #333;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  color: var(--color-gray);
  cursor: pointer;
  transition: all 0.3s ease;
}

.pricing__tab:hover {
  background: linear-gradient(#1e2024, #23272b);
}

.pricing__tab:active {
  transform: translateY(2px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.6);
  color: var(--color-white);
}

.pricing__tab--active {
  background-color: #222;
  color: var(--color-white);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.pricing__card {
  background: linear-gradient(#1e2024, #23272b);
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: 0.3s;
}

.pricing__card-title {
  color: var(--color-gray);
  margin-bottom: 0.5rem;
}

.pricing__card-subtitle {
  color: var(--color-gray);
  margin-bottom: 1rem;
}

.pricing__price {
  background-color: var(--bg-color);
  color: var(--blue-gradient);

  padding: 0.3rem 1rem;
  display: inline-block;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.pricing__features-list {
  text-align: left;
  padding-left: 1rem;
  display: grid;
  gap: 0.5rem;
}

.pricing__order-button:hover {
  opacity: 0.9;
}

.pricing__note {
  margin-top: 1rem;
  color: var(--color-gray);
}

@media (min-width: 1024px) {
  .pricing__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .pricing__left {
    flex: 1;
    text-align: left;
  }

  .pricing__right {
    flex: 1;
    align-items: flex-start;
  }

  .pricing__tabs {
    justify-content: flex-start;
    flex-direction: row;
  }

  .pricing__card {
    width: 600px;
  }
}
