<section class="about">
  <div class="about__container container">
    <div class="about__content">
      <h3 class="about__title">About Me</h3>
      <p class="about__text">
        Volutpat blandit aliquam etiam erat. Nisl condimentum id venenatis a
        condimentum vitae. Semper risus in hendrerit gravida rutrum quisque non
        tellus orci. Sit amet consectetur adipiscing elit pellentesque.
      </p>
      <p class="about__text">
        Varius quam quisque id diam vel quam elementum pulvinar. Congue quisque
        egestas diam in arcu cursus euismod.
      </p>
      <p class="about__text">
        Porttitor massa id neque aliquam vestibulum morbi blandit. A diam
        maecenas sed enim ut sem viverra aliquet eget. Lobortis scelerisque
        fermentum dui faucibus in ornare quam. Id neque aliquam vestibulum
        morbi. Vitae auctor eu augue ut lectus arcu bibendum at varius. Leo
        integer malesuada nunc vel risus. Sed turpis tincidunt id aliquet risus
        feugiat in. Egestas diam in arcu cursus euismod quis.
      </p>
    </div>
  </div>
</section>
