<section class="clients">
  <div class="clients__container container">
    <p class="clients__subtitle">Popular Clients</p>
    <h2 class="clients__title">Awesome Clients</h2>
    <div class="clients__grid">
      <div class="clients__card">
        <div class="clients__logo">
          <img src="../images/greenway-logo.svg" alt="Greenway Circuits" />
        </div>
        <p class="clients__name">Greenway Circuits</p>
      </div>
      <div class="clients__card">
        <div class="clients__logo">
          <img src="../images/subiro-logo.svg" alt="Subiro" />
        </div>
        <p class="clients__name">Subiro</p>
      </div>
      <div class="clients__card">
        <div class="clients__logo">
          <img src="../images/future-logo.svg" alt="Future Net" />
        </div>
        <p class="clients__name">Future Net</p>
      </div>
      <div class="clients__card">
        <div class="clients__logo">
          <img src="../images/asteroid-logo.svg" alt="Asteroid" />
        </div>
        <p class="clients__name">Asteroid</p>
      </div>
      <div class="clients__card">
        <div class="clients__logo">
          <img src="../images/future-logo.svg" alt="Future Net" />
        </div>
        <p class="clients__name">Future Net</p>
      </div>
      <div class="clients__card">
        <div class="clients__logo">
          <img src="../images/asteroid-logo.svg" alt="Asteroid" />
        </div>
        <p class="clients__name">Asteroid</p>
      </div>
    </div>
  </div>
</section>
