<div class="contact container">
  <div class="contact-container container">
    <p class="contact__title">CONTACT</p>
    <h2>
      Get your free<br />
      instant SEO audit now
    </h2>
    <div class="contact__form-container">
      <form action="https://example.com" method="POST">
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">YOUR NAME</label>
            <input type="text" class="form-control" name="name" required />
          </div>
          <div class="col-md-6">
            <label class="form-label">PHONE NUMBER</label>
            <input type="text" class="form-control" name="phone" required />
          </div>
          <div class="col-12">
            <label class="form-label">EMAIL</label>
            <input type="email" class="form-control" name="email" required />
          </div>
          <div class="col-12">
            <label class="form-label">SUBJECT</label>
            <input type="text" class="form-control" name="subject" required />
          </div>
          <div class="col-12">
            <button type="submit" class="button">GET AUDIT</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
