<section class="features cont">
  <h4 class="features__title">Featured</h4>
  <div class="features__list">
    <div class="feature">
      <div class="feature__icon feature__icon--webmaster"></div>
      <h4 class="feature__title">For Independent Webmasters</h4>
      <p class="feature__text">
        Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Ipsum
        consequat nisl vel pretium lectus quam id leo.
      </p>
    </div>

    <div class="feature">
      <div class="feature__icon feature__icon--corporate"></div>
      <h4 class="feature__title">For Corporate Website</h4>
      <p class="feature__text">
        Velit laoreet id donec ultrices tincidunt arcu non sodales. Vulputate
        enim nulla aliquet porttitor lacus luctus. Maecenas sed enim ut sem
        viverra aliquet eget sit amet.
      </p>
    </div>

    <div class="feature">
      <div class="feature__icon feature__icon--seo"></div>
      <h4 class="feature__title">For SEO Agencies</h4>
      <p class="feature__text">
        Magna fermentum iaculis eu non diam phasellus vestibulum lorem. Eget
        mauris pharetra et ultrices neque ornare aenean euismod. Orci ac auctor
        augue mauris augue neque.
      </p>
    </div>
  </div>
</section>
