<footer class="footer">
  <div class="footer__container container">
    <div class="footer__profile">
      <h3 class="footer__name">Liam Davis</h3>
      <p class="footer__role">SEO Copywriter</p>
      <div class="footer__socials">
        <a href="https://twitter.com/" class="footer__social"
          ><img class="twitter" src="../images/twitter.svg"
        /></a>
        <a href="https://www.facebook.com/" class="footer__social"
          ><img class="facebook" src="../images/facebook.svg"
        /></a>
        <a href="https://www.instagram.com/" class="footer__social"
          ><img class="instagram" src="../images/instagram.svg"
        /></a>
      </div>
    </div>
    <div class="footer__info">
      <div class="footer__details">
        <p>
          <span>Email</span><br />
          <a href="mailto:liam@domain.com"><span>liam@domain.com</span></a>
        </p>
        <p>
          <span>Phone</span><br />
          <a href="tel:+1112224321"><strong>(111) 222-4321</strong></a>
        </p>
      </div>
      <div class="footer__details">
        <p><span>Birthday</span><br /><strong>25 May</strong></p>
        <p>
          <span>Location</span><br /><strong>Brooklyn, New York 14241</strong>
        </p>
      </div>
    </div>
  </div>
  <p class="footer__copyright">
    &copy; Copyright 2030 Mobirise - All Rights Reserved
  </p>
</footer>
