<section class="offerings cont">
  <p class="offerings_tagline">Services</p>
  <h2 class="offerings__title">Auctor augue mauris augue neque gravida.</h2>
  <div class="offerings__grid">
    <div class="offering">
      <div class="offering__icon offering__icon--seo"></div>
      <div class="offering__content">
        <h4 class="offering__title">
          Search Engine<br />
          Optimization
        </h4>
        <p class="offering__text">
          Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Ipsum
          consequat nisl vel pretium lectus quam id leo.
        </p>
      </div>
    </div>

    <div class="offering">
      <div class="offering__icon offering__icon--marketing"></div>
      <div class="offering__content">
        <h4 class="offering__title">
          Search Engine<br />
          Marketing
        </h4>
        <p class="offering__text">
          Mi bibendum neque egestas congue quisque egestas. Sed faucibus turpis
          in eu mi bibendum neque egestas congue.
        </p>
      </div>
    </div>

    <div class="offering">
      <div class="offering__icon offering__icon--ppc"></div>
      <div class="offering__content">
        <h4 class="offering__title">
          Pay<br />
          Per Click
        </h4>
        <p class="offering__text">
          Proin nibh nisl condimentum id. Sit amet nulla facilisi morbi tempus
          iaculis urna id volutpat.
        </p>
      </div>
    </div>

    <div class="offering">
      <div class="offering__icon offering__icon--social"></div>
      <div class="offering__content">
        <h4 class="offering__title">Social<br /> Media Marketing</h4>
        <p class="offering__text">
          Leo vel fringilla est ullamcorper. Lectus vestibulum mattis
          ullamcorper velit sed ullamcorper morbi tincidunt.
        </p>
      </div>
    </div>

    <div class="offering">
      <div class="offering__icon offering__icon--content"></div>
      <div class="offering__content">
        <h4 class="offering__title">Content<br /> Marketing</h4>
        <p class="offering__text">
          Leo vel fringilla est ullamcorper. Lectus vestibulum mattis
          ullamcorper velit sed ullamcorper morbi tincidunt.
        </p>
      </div>
    </div>

    <div class="offering">
      <div class="offering__icon offering__icon--link"></div>
      <div class="offering__content">
        <h4 class="offering__title">
          Link <br />
          Building
        </h4>
        <p class="offering__text">
          Leo vel fringilla est ullamcorper. Lectus vestibulum mattis
          ullamcorper velit sed ullamcorper morbi tincidunt.
        </p>
      </div>
    </div>

    <div class="offering">
      <div class="offering__icon offering__icon--analytics"></div>
      <div class="offering__content">
        <h4 class="offering__title">Analytics Consultancy</h4>
        <p class="offering__text">
          Leo vel fringilla est ullamcorper. Lectus vestibulum mattis
          ullamcorper velit sed ullamcorper morbi tincidunt.
        </p>
      </div>
    </div>

    <div class="offering">
      <div class="offering__icon offering__icon--conversion"></div>
      <div class="offering__content">
        <h4 class="offering__title">Conversion Rate Optimization</h4>
        <p class="offering__text">
          Leo vel fringilla est ullamcorper. Lectus vestibulum mattis
          ullamcorper velit sed ullamcorper morbi tincidunt.
        </p>
      </div>
    </div>
  </div>
</section>
