<section class="platform">
  <div class="platform__container container">
    <div class="platform__image-wrapper">
      <div class="platform__image-background"></div>
      <div class="platform__image">
        <img src="../images/work-meeting.png" alt="Work meeting" />
      </div>
    </div>
    <div class="platform__content">
      <h2 class="platform__title">
        Sophisticated Platform for Website Positions Analysis
      </h2>
      <p class="platform__text">
        Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Risus
        pretium quam vulputate dignissim suspendisse in auctor mauris augue, et
        necessitatibus adipisci. 
      </p>
      <p class="platform__text">
        Tempor id eu nisl nunc mi ipsum faucibus. Egestas erat imperdiet sed
        euismod nisi porta lorem. Sed ullamcorper morbi tincidunt ornare massa
        eget egestas. Ultricies lacus sed turpis tincidunt id. Sit amet justo
        donec enim diam vulputate ut pharetra.
      </p>
    </div>
  </div>
</section>
