<section class="points">
  <div class="points__container cont">
    <h2 class="points__title">
      We don’t view SEO</br> through the same lens </br>as most online marketers
    </h2>
    <div class="points__items">
      <div class="points__item">
        <div class="points__icon points__icon--star"></div>
        <h3 class="points__item-title">Page Quality</h3>
        <p class="points__item-description">
            Vivamus arcu felis bibendum ut
            tristique et. In fermentum posuere urna
            nec tincidunt praesent semper feugiat
            nibh.
        </p>
      </div>
      <div class="points__item">
        <div class="points__icon points__icon--lock"></div>
        <h3 class="points__item-title">Security</h3>
        <p class="points__item-description">
          Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Ipsum
          consequat nisl vel pretium lectus quam id leo.
        </p>
      </div>
      <div class="points__item">
        <div class="points__icon points__icon--gear"></div>
        <h3 class="points__item-title">Support</h3>
        <p class="points__item-description">
          Consectetur adipiscing elit dui tristique sollicitudin nibh sit.
          Tellus at urna condimentum mattis. A cras semper auctor neque vitae
          tempus.
        </p>
      </div>
    </div>
  </div>
</section>
