<section class="resume container">
  <div class="resume__info">
    <p class="resume__experience">9+ YEARS OF EXPERIENCE</p>
    <h2 class="resume__title">My Resume</h2>
  <div>

  <div class="resume__content">
    <div class="resume__column">
      <div class="resume__period">1997 - 2010</div>
      <h2 class="resume__section-title">Education Quality</h2>

      <div class="timeline">
        <div class="timeline__item">
          <div class="timeline__marker"></div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Ultricies tristique nulla</h3>
              <p class="card__subtitle">Cum sociis (2006 - 2010)</p>
              <div class="card__rating">3.95/4</div>
            </div>
            <div class="card__body">
              <p class="card__text">
                Risus ultricies tristique nulla aliquet enim tortor at.
                Consectetur adipiscing elit duis tristique sollicitudin nibh
                sit.
              </p>
            </div>
          </div>
        </div>

        <div class="timeline__item">
          <div class="timeline__marker"></div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Cras sed felis eget</h3>
              <p class="card__subtitle">Quisque sagittis (2001 - 2005)</p>
              <div class="card__rating">4.86/5</div>
            </div>
            <div class="card__body">
              <p class="card__text">
                Ut tellus elementum sagittis vitae. At varius vel pharetra vel
                turpis nunc eget lorem. Non arcu risus quis varius quam
                quisqueid.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resume__column">
      <div class="resume__period">2010 - 2022</div>
      <h2 class="resume__section-title">Job Experience</h2>

      <div class="timeline">
        <div class="timeline__item">
          <div class="timeline__marker"></div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Porttitor lacus luctus</h3>
              <p class="card__subtitle">Volutpat commodo - (2017 - Present)</p>
              <div class="card__location card__location--usa">USA</div>
            </div>
            <div class="card__body">
              <p class="card__text">
                Nulla facilisi cras fermentum odio. Pulvinar elementum integer
                enim neque volutpat ac tincidunt vitae.
              </p>
            </div>
          </div>
        </div>

        <div class="timeline__item">
          <div class="timeline__marker"></div>
          <div class="card">
            <div class="card__header">
              <h3 class="card__title">Tincidunt dui ut ornare</h3>
              <p class="card__subtitle">Nec ullamcorper sit - (2012 - 2016)</p>
              <div class="card__location card__location--india">INDIA</div>
            </div>
            <div class="card__body">
              <p class="card__text">
                Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula
                ullamcorper. Vestibulum sed arcu non odio euismod.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
