<div class="stats">
  <div class="stats__item">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
    >
      <rect
        y="0.5"
        width="32"
        height="32"
        rx="16"
        fill="url(#paint0_linear_7_94)"
      />
      <path
        d="M13 24.5L4 15.7229L5.40625 14.3514L13 21.78L26.5938 8.5L28 9.87143L13 24.5Z"
        fill="white"
      />
      <defs>
        <linearGradient
          id="paint0_linear_7_94"
          x1="0.935794"
          y1="26.5382"
          x2="22.5105"
          y2="31.5868"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#953FF7" />
          <stop offset="0.461" stop-color="#696BFC" />
          <stop offset="1" stop-color="#19C7FC" />
        </linearGradient>
      </defs>
    </svg>
    <div class="stats__item-info">
      <span class="stats__number">120k</span>
      <p class="stats__text">
        <span class="stats__highlight">Link</span>
        Optimized
      </p>
    </div>
  </div>
  <div class="stats__item">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
    >
      <rect
        y="0.5"
        width="32"
        height="32"
        rx="16"
        fill="url(#paint0_linear_7_94)"
      />
      <path
        d="M13 24.5L4 15.7229L5.40625 14.3514L13 21.78L26.5938 8.5L28 9.87143L13 24.5Z"
        fill="white"
      />
      <defs>
        <linearGradient
          id="paint0_linear_7_94"
          x1="0.935794"
          y1="26.5382"
          x2="22.5105"
          y2="31.5868"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#953FF7" />
          <stop offset="0.461" stop-color="#696BFC" />
          <stop offset="1" stop-color="#19C7FC" />
        </linearGradient>
      </defs>
    </svg>
    <div class="stats__item-info">
      <span class="stats__number">789</span>
      <p class="stats__text">
        <span class="stats__highlight">Happy</span>
        Customers
      </p>
    </div>
  </div>
  <div class="stats__item">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
    >
      <rect
        y="0.5"
        width="32"
        height="32"
        rx="16"
        fill="url(#paint0_linear_7_94)"
      />
      <path
        d="M13 24.5L4 15.7229L5.40625 14.3514L13 21.78L26.5938 8.5L28 9.87143L13 24.5Z"
        fill="white"
      />
      <defs>
        <linearGradient
          id="paint0_linear_7_94"
          x1="0.935794"
          y1="26.5382"
          x2="22.5105"
          y2="31.5868"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#953FF7" />
          <stop offset="0.461" stop-color="#696BFC" />
          <stop offset="1" stop-color="#19C7FC" />
        </linearGradient>
      </defs>
    </svg>
    <div class="stats__item-info">
      <span class="stats__number">100%</span>
      <p class="stats__text stats__text--quality">Quality</p>
    </div>
  </div>
  <div class="stats__item">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="33"
      viewBox="0 0 32 33"
      fill="none"
    >
      <rect
        y="0.5"
        width="32"
        height="32"
        rx="16"
        fill="url(#paint0_linear_7_94)"
      />
      <path
        d="M13 24.5L4 15.7229L5.40625 14.3514L13 21.78L26.5938 8.5L28 9.87143L13 24.5Z"
        fill="white"
      />
      <defs>
        <linearGradient
          id="paint0_linear_7_94"
          x1="0.935794"
          y1="26.5382"
          x2="22.5105"
          y2="31.5868"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#953FF7" />
          <stop offset="0.461" stop-color="#696BFC" />
          <stop offset="1" stop-color="#19C7FC" />
        </linearGradient>
      </defs>
    </svg>
    <div class="stats__item-info">
      <span class="stats__number">168</span>
      <p class="stats__text">
        <span class="stats__highlight">Website</span>
        High Up
      </p>
    </div>
  </div>
</div>
