<div class="stats container">
  <div class="stats__item">
    <img src="../images/checkmark-icon.svg" />
    <div class="stats__item-info">
      <span class="stats__number">120k</span>
      <p class="stats__text">
        <span class="stats__highlight">Link</span>
        Optimized
      </p>
    </div>
  </div>
  <div class="stats__item">
    <img src="../images/checkmark-icon.svg" />
    <div class="stats__item-info">
      <span class="stats__number">789</span>
      <p class="stats__text">
        <span class="stats__highlight">Happy</span>
        Customers
      </p>
    </div>
  </div>
  <div class="stats__item">
    <img src="../images/checkmark-icon.svg" />
    <div class="stats__item-info">
      <span class="stats__number">100%</span>
      <p class="stats__text stats__text--quality">Quality</p>
    </div>
  </div>
  <div class="stats__item">
    <img src="../images/checkmark-icon.svg" />
    <div class="stats__item-info">
      <span class="stats__number">168</span>
      <p class="stats__text">
        <span class="stats__highlight">Website</span>
        High Up
      </p>
    </div>
  </div>
</div>
